.App {
	text-align: center;
}
  
.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}
  
.App-title {
	font-size: 1.5em;
}

.App-intro {	
	font-size: large;
}

.App-login {
	width: 150px;
	height: 30px;
	background-color: aqua;
	border: 0px;
	margin: 10px;
	border-radius: 8px;
}
  
.fill-left {
	height: calc(100% - 40px);
}
  
div {
	padding: 0px;
	margin: 0;
	position: relative;
}
  
p i,h1 i,h2 i,h3 i,h4 i,h5 i{
	font-size: inherit!important;
}
  