.col-sm-4.offset-sm-2.singlepanel {
	margin-left: 8.33%;
	margin-right: 8.33%
}

.row {
	margin: 0
}

.singlepanel>a {
	color: #bbb;
}

.singlepanel>a:hover {
	color: white
}

.singlepanel>a:visited {
	color: #ddd
}

.content-list {
	padding: 24px 24px 24px 16px;
	border-left: 4px solid transparent;
	background-color: rgba(34, 34, 34, 0.9)
}

.content-list:hover {
	border-left: 4px solid #3366cc;
	background-color: rgba(51, 51, 51, 0.9)
}

.blog-title {
	position: absolute;
	top: 10%;
	width: 65%;
	height: 100%;
	float: left;
	margin-left: 1em;
}

.blog-title>h2 {
	text-align: left;
}

.blog-title>p {
	text-align: left;
}

.content-list>span {
	position: absolute;
	top: 0;
	left: -4px;
}

.split-line {
	margin: -5px 0 15px;
	border-top: 1px solid #f0f0f0;
	width: 100%
}

.main.articles>li {
	text-align: center;
	display: list-item;
	border-bottom: 1px solid #f0f0f0;
	padding: 0 2px 17px 0;
	line-height: 20px;
	margin: 0 0 17px 0;
	list-style: none;
}

.main.articles>li.have-img {
	min-height: 140px;
}

p.article-summery {
	line-height: 24px;
	font-size: 13px;
	margin: 0 0 8px;
	color: #333333;
}

.article-title {
	color: #333333;
	margin: -7px 0 4px;
	display: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
}

.article-title:visited {
	color: #969696
}