#editor-upload-image {
  margin: auto;
  width: auto;
  background-color: dimgrey;
  display: inline-block;
}

div.edit-sheet {
  width: 400px;
  margin: auto;
  padding: 30px;
  background-color: beige;
}

label {
  display: inline-block;
  margin: auto;
}