#editor-upload-image {
  margin: auto;
  width: auto;
  background-color: dimgrey;
  display: inline-block;
}

div.edit-sheet {
  width: 400px;
  margin: auto;
  padding: 30px;
  background-color: beige;
}

div.edit-sheet.p {
  height: fit-content;
}

.tools {
  width: 100%;
  margin: 0px;
  height: 40px;
  padding-left: 0px;
  background-color: #D9D9D9
}

ul.tools li {
  height: 40px;
  min-width: 35px;
  line-height: 40px;
  float: left;
}

ul.tools li:hover {
  background-color: #595959
}

label {
  display: inline-block;
  margin: auto;
}

.fill-container {
  height: 100%;
}

.sheet {
  width: 100%;
  height: calc(100% - 40px);
}

.sheet p {
  margin: 0 0 25px;
  word-break: break-word;
}

.sheet-title {
  padding: 0px 80px 10px 40px;
  width: 100%;
  outline: none;
  border: 0;
}

#editor {
  height: 100%;
  padding: 40px 40px 80px 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  outline: 0;
}

.title_panel {
  overflow-y: scroll
}

.flex_fill {
  height: 100%;
  flex-flow: column;
}

.row {
  min-height: 100%;
}
.row .col-4 {
  background-color: orange
}

.row .col-8 {
  border-radius: 5px;
  background-color: lavender;
  border: orangered
}

p.editor-saved {
  font-size: 0.5em;
  margin: 0;
  float: right
}

.icon.iconfont {
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.icon.iconfont.icon-addition_fill {
    font-size: 18px
}

.editor-creator {
    padding: 20px 20px 20px 0px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    border-bottom: 1px solid #D9D9D9
}

ul.title-list {
    padding-left: 0;
}

ul.title-list>li.title {
    height: 90px;
    display: list-item;
    list-style: none;
    border-bottom: 1px solid #D9D9D9;
    line-height:  60px;
    padding: 15px 60px 14px 30px;
    border-left: 5px solid transparent
}

ul.title-list>li.title.selected {
    border-left-color: #ec7259
}

li.title:hover, li.title.selected {
    background-color: #e6e6e6
}

ul.title_panel span {
    display: block;
    height: 30px;
    padding-left: 30px;
}