#title-header {
  background-color: bisque;
  height: 150px;
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
  position: relative;
}

#title-name {
  height: 112px;
}
/*
ul#title-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li, .menu-item{
  float: left;
  width: 100px;
  background-color: #333;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: inline-flex;
  cursor: pointer;
}

li a, .dropbtn {
  margin: auto;
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

.dropdown {
  display: inline-block;
}



.dropdown-content a:hover {background-color: #f1f1f1} */

li {
  display: inline;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-btn:hover .dropdown-menu {
  display: block;
}