#title-header {
  background-color: #343a40;
  height: 40px;
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
  position: relative;
}

li {
  display: inline;
}

#title-header .btn.btn-dark {
  border-radius: 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-btn:hover .dropdown-menu {
  display: block;
}