<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Jacobi's Blog</title>
    <link rel="stylesheet" href="/public/javascripts/view/css/style.css" type="text/css"/>
    <link type="text/css" href="/public/javascripts/view/libs/bootstrap.min.css" rel="stylesheet">
    <script type="text/script" src="/public/javascripts/view/libs/jquery-3.3.1.min.js"></script>
    <script type="text/script" src="/public/javascripts/view/libs/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/public/css/titlepanel.css" type="text/css"/> -->
</head>
<body>
  <div id="main-container"></div>
  <script src="/public/output/js/main.bundle.js"></script>
</body>
</html>